#account-main{
  width: 100%;
  min-height: 400px;
  background-color: #080516;
  padding: 30px 0;
}

.account-container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(27, 30, 31);
  border-radius: 10px;
}

