@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* 'Noto Sans', sans-serif; */

#account-switches-group{
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  background-color: transparent;
  margin-bottom: 20px;
}

.account-switches-group__switch{
  margin: 0 10px 0 0;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #3b3838a8;
  cursor: pointer;
  transition: .3s;
}

.account-switches-group__switch:hover{
  opacity: .8;
}

.account-switches-group__switch-active{
  background-color: rgb(255, 166, 0);
  color: #fff;
}