@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* 'Noto Sans', sans-serif; */


.account-item-card{
  position: relative;
  width: 215px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 0;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  background-color: rgb(63, 62, 62);
  font-family: 'Noto Sans', sans-serif;
  transition: opacity .4s;
}

.account-item-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(63, 62, 62, 0.5);
}

.account-item-card:hover .account-item-card__buttons {
  display: flex;
}

.account-item-card__buttons{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: none;
}

.account-item-card-buttons__button{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(18, 122, 18);
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.account-item-card-buttons__button:hover{
  opacity: .9;
}

#get-item-button{
  margin-right: 15px;
}

#sell-item-button{
  background-color: rgb(241, 39, 39);
}


.account-item-card img{
  padding: 10px 0 20px 0;
  height: 100px;
}

.item-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.item-info__name{
  margin-bottom: 15px;
}

.item-info__price{
  font-size: 20px;
}



@media screen and (max-width: 1250px) {
  .account-item-card{
    width: 150px;
    height: 180px;
    margin: 15px 30px 15px 0;
  }
  
  .account-item-card__buttons{
    font-size: 14px;
  }
  
  .account-item-card-buttons__button{
    padding: 5px 5px;
  }

  #get-item-button{
    margin-right: 13px;
  }
  
  .account-item-card img{
    padding: 10px 0 20px 0;
    height: 70px;
  }
  
  .item-info__name{
    margin-bottom: 10px;
    font-size: 13px;
  }
}


@media screen and (max-width: 1165px) {
  .account-item-card{
    width: 130px;
    height: 150px;
    margin: 8px;
  }
  
  .account-item-card__buttons{
    font-size: 12px;
  }
  
  .account-item-card-buttons__button{
    padding: 5px 5px;
  }

  #get-item-button{
    margin-right: 10px;
  }
  
  .account-item-card img{
    padding: 10px 0 20px 0;
    height: 60px;
  }
  
  .item-info__name{
    margin-bottom: 9px;
    font-size: 11px;
  }
  
  .item-info__price{
    font-size: 17px;
  }
}

@media screen and (max-width: 1045px) {
  .account-item-card{
    margin: 7px;
  }
}

@media screen and (max-width: 799px) {
  .account-item-card{
    margin: 12px;
  }
}


@media screen and (max-width: 695px) {
  .account-item-card{
    width: 85px;
    height: 110px;
    margin: 10px 4px;
  }
  
  .account-item-card__buttons{
    font-size: 9px;
  }
  
  .account-item-card-buttons__button{
    padding: 5px 5px;
  }

  #get-item-button{
    margin-right: 4px;
  }
  
  .account-item-card img{
    padding: 10px 0 20px 0;
    height: 45px;
  }

  .item-info__name{
    margin-bottom: 5px;
    font-size: 7px;
  }

  .item-info__price{
    font-size: 12px;
  }
}

