.scroll-tape-container {
  position: relative;
  margin: 30px 0 30px 0;
  width: 850px;
  background-color: rgb(48, 47, 47);
  border-radius: 10px;
}
.scroll-tape-container .tape-pointer {
  position: absolute;
  height: 50px;
  left: 50%;
  transform: translate3d(-50%, -25px, 0);
  filter: drop-shadow(0 0 20px #eccfcf);
  z-index: 2;
}
.scroll-tape-container .scope {
  overflow: hidden;
}
.scroll-tape-container .scope__list {
  position: relative;
  display: inline-flex;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99);
  list-style: none;
}
.scroll-tape-container .scope__list .scope-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  height: 160px;
  opacity: 0.7;
  transition: 0.3s ease;
}
.scroll-tape-container .scope__list .scope-list__item:nth-child(2n) {
  background: rgb(22, 22, 21);
}
.scroll-tape-container .scope__list .scope-list__item.active {
  opacity: 1;
}
.scroll-tape-container .scope__list .scope-list__item.active img {
  transform: scale(1.05);
}
.scroll-tape-container .scope__list .scope-list__item img {
  height: 100px;
}