


.scroll-tape-container{
  position: relative;
  margin: 30px 0 30px 0;
  width: 850px;
  background-color: rgb(48, 47, 47);
  border-radius: 10px;

  .tape-pointer{
    position: absolute;
    height: 50px;
    left: 50%;
    transform: translate3d(-50%, -25px, 0);
    filter: drop-shadow(0 0 20px #eccfcf);
    z-index: 2;
  }

  .scope{
    overflow: hidden;


    &__list{
      position: relative;
      display: inline-flex;
      left: 0;
      transform: translate3d(0, 0, 0);
      transition: 5s cubic-bezier(.21,.53,.29,.99);
      list-style: none;

      .scope-list__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        $sizes: 200px;
        width: $sizes;
        height: calc($sizes * .8);
        opacity: .7;
        transition: .3s ease;

        &:nth-child(2n){
          background: rgb(22, 22, 21);
        }

        &.active{
          opacity: 1;

          img{
            transform: scale(1.05);
          }
        }

        img{
          height: 100px;
        }
      }
    }
  }
}



@media screen and (max-width: 1200px) {
  .scroll-tape-container{
    width: 650px;
  }
}


@media screen and (max-width: 850px) {
  .scroll-tape-container{
    width: 480px;
    margin: 30px 0 25px 0;
  
    .tape-pointer{
      height: 40px;
    }
  
    .scope{
  
      &__list{
  
        .scope-list__item{
          $sizes: 150px;
          width: $sizes;
          height: calc($sizes * .8);
  
          img{
            height: 70px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .scroll-tape-container{
    width: 300px;
    margin: 20px 0 18px 0;
  
    .tape-pointer{
      height: 30px;
      transform: translate3d(-50%, -18px, 0);
    }
  
    .scope{
  
      &__list{
  
        .scope-list__item{
          $sizes: 110px;
          width: $sizes;
          height: calc($sizes * .8);
  
          img{
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .scroll-tape-container{
    width: 200px;
    margin: 15px 0 14px 0;
  
    .tape-pointer{
      height: 25px;
      transform: translate3d(-50%, -15px, 0);
    }
  
    .scope{
  
      &__list{
  
        .scope-list__item{
          $sizes: 85px;
          width: $sizes;
          height: calc($sizes * .8);
  
          img{
            height: 40px;
          }
        }
      }
    }
  }
}