@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap'); /* font-family: 'Kanit', sans-serif; */


.case-opening-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scroll-tape-container {
  height: 600px;
}

.case-content-title {
  color: #fff;
  font-family: 'Kanit', sans-serif;
}

.case-content {
  margin: 0 auto 50px auto;
  padding: 0 15px;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}



@media screen and (max-width: 850px) {
  #scroll-tape-container {
    height: 450px;
  }
}

@media screen and (max-width: 350px) {
  #scroll-tape-container {
    height: 300px;
  }
}