
.content-item-card{
  position: relative;
  width: 250px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 0;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  background-color: rgb(63, 62, 62);
  font-family: 'Noto Sans', sans-serif;
  transition: opacity .4s;
}

.content-item-card__img{
  padding: 10px 0 20px 0;
  height: 100px;
  transition: .3s;
}

.content-item-card:hover .content-item-card__img{
  height: 115px;
  transform: rotate(20deg);
}

.content-item-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.content-item-info__name{
  margin-bottom: 15px;
}

.content-item-info__price{
  font-size: 20px;
}



@media screen and (max-width: 1200px) {
  .content-item-card{
    width: 230px;
    height: 200px;
    margin: 15px 15px 15px 0;
  }
  
  .content-item-card__img{
    padding: 10px 0 15px 0;
    height: 90px;
  }
  
  .content-item-card:hover .content-item-card__img{
    height: 100px;
  }
}

@media screen and (max-width: 1050px) {
  .content-item-card{
    width: 200px;
    height: 180px;
    margin: 13px 13px 13px 0;
  }
  
  .content-item-card__img{
    padding: 9px 0 13px 0;
    height: 83px;
  }
  
  .content-item-card:hover .content-item-card__img{
    height: 93px;
  }
  
  .content-item-info__name{
    margin-bottom: 13px;
    font-size: 13px;
  }
  
  .content-item-info__price{
    font-size: 17px;
  }
}


@media screen and (max-width: 700px) {
  .content-item-card{
    width: 170px;
    height: 150px;
  }
  
  .content-item-card__img{
    height: 60px;
  }
  
  .content-item-card:hover .content-item-card__img{
    height: 65px;
  }
  
  .content-item-info__name{
    margin-bottom: 11px;
    font-size: 12px;
  }
  
  .content-item-info__price{
    font-size: 16px;
  }
}


@media screen and (max-width: 430px) {
  .content-item-card{
    width: 120px;
    height: 125px;
    margin: 11px 11px 11px 0;
  }
  
  .content-item-card__img{
    padding: 9px 0 14px 0;
    height: 50px;
  }
  
  .content-item-card:hover .content-item-card__img{
    height: 52px;
  }
  
  .content-item-info__name{
    margin-bottom: 6px;
    font-size: 11px;
  }
  
  .content-item-info__price{
    font-size: 13px;
  }
}
