@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* 'Noto Sans', sans-serif; */

.open-case-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 8px 13px;
  border-radius: 15px;
  background-color: #3784dd;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  transition: .3s ease;
}

.open-case-button:hover {
  opacity: .8;
}


@media screen and (max-width: 850px) {
  .open-case-button{
    margin-bottom: 25px;
    padding: 7px 11px;
    border-radius: 14px;
  }

  .open-case-button:hover {
    opacity: 1;
  }

  .open-case-button:active {
    opacity: .8;
  }
  
}

@media screen and (max-width: 550px) {
  .open-case-button{
    padding: 5px 9px;
    border-radius: 12px;
    font-size: 13px;
  }
  
}

@media screen and (max-width: 350px) {
  .open-case-button{
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 12px;
  }
  
}