@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap'); /* font-family: 'Heebo', sans-serif; */


.giveaway-cards-groups{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-family: 'Heebo', sans-serif;
}

.giveaway-cards-groups__group{
  display: flex;
  flex-wrap: wrap;
}

.giveaway-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 170px;
  border-radius: 15px;
  margin: 15px 15px 0 0;
  background-color: red;
}

#hour-giveaway-card{
  background-color: rgba(85, 192, 228, 0.849);
}
#weekly-giveaway-card{
  background-color: rgb(75, 221, 75);
}
#daily-giveaway-card{
  background-color: rgb(218, 89, 89);
}
#monthly-giveaway-card{
  background-color: rgb(126, 85, 221);
}

.giveaway-card__info{
  margin-left: 13px;
}

.giveaway-card__timer{
  text-align: center;
  padding: 3px;
  margin: 8px 0 5px 0;
  border-radius: 5px;
  background-color: rgba(26, 29, 29, 0.493);
}


.giveaway-card:hover .giveaway-card__img{
  height: 110px;
}

.giveaway-card__img{
  height: 100px;
  margin-right: 13px;
  transition: .3s;
}

#weekly-giveaway-card .giveaway-card__img{
  border-radius: 6px;
}


@media screen and (max-width: 1410px) {
  .giveaway-card {
    width: 280px;
    height: 130px;
  }
  .giveaway-card__info {
    font-size: 13px;
  }
}

@media screen and (max-width: 1210px) {
  .giveaway-card {
    width: 260px;
    height: 110px;
  }
  .giveaway-card__info {
    font-size: 11px;
  }
}

@media screen and (max-width: 580px) {
  .giveaway-cards-groups__group {
    justify-content: center; 
  }

  .giveaway-card {
    margin-bottom: 8px; 
  }

  .giveaway-card:hover .giveaway-card__img{
    height: 75px;
  }
  
  .giveaway-card__img{
    height: 75px;
  }
}