@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* 'Noto Sans', sans-serif; */

.main{
  width: 100%;
  background-color: #080516;
}

.giveaway-container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1380px;
  display: flex;
  justify-content: center;
}

.container-02{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container-group-title{
  margin-top: 60px;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}


@media screen and (max-width: 1130px) {
  #container-group-title {
    margin-top: 30px;
    font-size: 20px;
  }
}