@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* 'Noto Sans', sans-serif; */

.top-up-form{
  padding: 20px 0 20px 20px;
  border-radius: 10px;
  background-color: #252534;
  color: black;
}

.input-deposit{
  height: 30px;
  width: 270px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4a4a55;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.button-deposit{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  background-color: #173a22;
  color: #555252;
  font-family: 'Noto Sans', sans-serif;
  transition: .3s;
}

.input-deposit:valid + .button-deposit {
  background-color: #81dd9b;
}

.input-deposit:valid + .button-deposit:hover {
  opacity: .8;
}
